@import "reset.css";
@import "status-bar.css";
@import "friend.css";
@import "navi-bar.css";
@import "header.css";
@import "friends.css";
@import "find.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap");

* {
  box-sizing: border-box;
  /* make size same u put, cause if u added padding, normally
  the browser would show display up with padding.
  that means if u have any text, text would be disappeared.

  - conclusion
    if u want to show something
    with all of content u put, using 'box-sizing: border-box'; */
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
}

a {
  color: inherit;
  text-decoration: none;
}
